/.metadata
/.recommenders
/RemoteSystemsTempFiles
/spring-tutorial-5/.settings
/spring-tutorial-5/target
/spring-tutorial-5/*.project
/spring-tutorial-5/*.springBeans
/spring-tutorial-6/.settings
/spring-tutorial-6/*.project
/spring-tutorial-6/*.classpath
/spring-tutorial-6/target
spring-tutorial-7/.classpath
spring-tutorial-7/.project
*.prefs
*.class
*.properties
spring-tutorial-8/.classpath
spring-tutorial-8/.project
spring-tutorial-8/target/classes/com/caveofprogramming/section2/Lecture8/spring_tutorial_8/beanXML/beans.xml
spring-tutorial-8/target/classes/META-INF/maven/com.caveofprogramming.section2.Lecture8/spring-tutorial-8/pom.xml
/spring-tutorial-9/*.project
/spring-tutorial-9/.settings
/spring-tutorial-9/*.classpath
spring_tutorial_10/.classpath
spring_tutorial_10/.project
spring_tutorial_11/.classpath
spring_tutorial_11/.project
spring_tutorial_12/.classpath
spring_tutorial_12/.project
*.MF
spring_tutorial_13/.classpath
spring_tutorial_13/.project
spring_tutorial_14/.classpath
spring_tutorial_14/.project
spring_tutorial_15/.classpath
spring_tutorial_15/.project
spring_tutorial17/.classpath
spring_tutorial17/.project
/spring_tutorial17/target
spring_tutorial_18/.classpath
spring_tutorial_18/.project
target
/spring_tutorial_18/.settings
*.project
spring_tutorial_19/.classpath
spring_tutorial_20/.classpath
spring_tutorial_21/.classpath
spring-tutorial-5/.classpath
*/.classpath
*.MF
*/META-INF
*.class
*.MF
