/.metadata
/.recommenders
/RemoteSystemsTempFiles
/spring-tutorial-5/.settings
/spring-tutorial-5/target
/spring-tutorial-5/*.project
/spring-tutorial-5/*.springBeans
/spring-tutorial-6/.settings
/spring-tutorial-6/*.project
/spring-tutorial-6/*.classpath
spring-tutorial-7/.classpath
spring-tutorial-7/.project
*.prefs
*.class
*.properties
spring-tutorial-8/.classpath
spring-tutorial-8/.project
spring-tutorial-8/target/classes/com/caveofprogramming/section2/Lecture8/spring_tutorial_8/beanXML/beans.xml
spring-tutorial-8/target/classes/META-INF/maven/com.caveofprogramming.section2.Lecture8/spring-tutorial-8/pom.xml
/spring-tutorial-9/*.project
/spring-tutorial-9/.settings
/spring-tutorial-9/*.classpath
spring_tutorial_10/.classpath
spring_tutorial_10/.project
